@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400');

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 13px;
  background: #fff;
  color: #000;
}

code, pre {
  font-family: Roboto Mono, monospace;
  font-size: 90%;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 12px;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
}

td, th {
  padding: 3px 9px;
}

.loading {
  opacity: 0.75;
  filter: grayscale(100%);
}

ul.big {
  font-size: 150%;
}
