@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: 14px;
  background: #fff;
  color: #000;
}

code, pre {
  font-family: Roboto Mono, monospace;
  font-size: 13px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 800px;
  margin: 0 auto;
}

th {
  text-align: left;
}